name: build jar

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Upload target
      uses: actions/upload-artifact@v2
      with:
        name: target
        path: ${{ github.workspace }}/target

    - name: Convertor openapi yaml to json schema
      run: |
        mkdir -p ${{ github.workspace }}/dist
        ls -lrt
        cd ${{ github.workspace }}/target
        chmod +x *.jar -R
        ls -lrt
        openapi2jsonschema-1.0.jar --input ${{ github.workspace }}/yaml/api.yaml --output ${{ github.workspace }}/dist

    - name: Upload dist
      uses: actions/upload-artifact@v2
      with:
        name: jsonschema
        path: ${{ github.workspace }}/dist
